<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <springProfile name="dev">
                <pattern>%d{yyyy-MM-dd-HH:mm:ss E} %level [%thread]-%class[%line] : %msg%n</pattern>
            </springProfile>

            <springProfile name="!dev">
                <pattern>%d{yyyy-MM-dd-HH:mm:ss E} %level [%thread]-%class[%line] : %msg%n</pattern>
            </springProfile>
            <!--日志编码格式-->
         <!--   <charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <!--这个表示把日志输出到文件（FileAppender）-->
<!--    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>log/output.log</file>
        &lt;!&ndash;设置日志是否追加&ndash;&gt;
        <append>true</append>
            <encoder>
                <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} %level [%thread]-%class:%line >> %msg%n</pattern>
            </encoder>
        &lt;!&ndash;设置日志写入是否线程安全&ndash;&gt;
        <prudent>false</prudent>
    </appender>-->


    <appender name="timeFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--基于时间滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/log-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS}%level [%thread]-%class:%line >> %msg%n</pattern>
           <!-- <charset>UTF-8</charset>-->
        </encoder>
    </appender>

<!--    <appender name="fixedFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/fixedFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/fixedFile%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        &lt;!&ndash;sizeBasedTriggeringPolicy&ndash;&gt;
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss.SSS} %level [%thread]-%class:%line >> %msg%n</pattern>
        </encoder>
       &lt;!&ndash; <charset>UTF-8</charset>&ndash;&gt;
    </appender>-->

    <root level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="timeFile" />
    </root>
</configuration>