<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhh.onlineMall.dao.CategoryMapper" >

    <resultMap id="BaseResultMap" type="com.xhh.onlineMall.entity.Category" >
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="category_level" property="categoryLevel" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="category_icon" property="categoryIcon" jdbcType="VARCHAR" />
    <result column="category_slogan" property="categorySlogan" jdbcType="VARCHAR" />
    <result column="category_pic" property="categoryPic" jdbcType="VARCHAR" />
    <result column="category_bg_color" property="categoryBgColor" jdbcType="VARCHAR" />
  </resultMap>

    <sql id="Base_Column_List" >
        category_id, category_name, category_level, parent_id, category_icon, category_slogan,
        category_pic, category_bg_color
    </sql>


    <resultMap id="categoryVOMap" type="com.xhh.onlineMall.entity.CategoryVO" >
    <id column="category_id1" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name1" property="categoryName" jdbcType="VARCHAR" />
    <result column="category_level1" property="categoryLevel" jdbcType="INTEGER" />
    <result column="parent_id1" property="parentId" jdbcType="INTEGER" />
    <result column="category_icon1" property="categoryIcon" jdbcType="VARCHAR" />
    <result column="category_slogan1" property="categorySlogan" jdbcType="VARCHAR" />
    <result column="category_pic1" property="categoryPic" jdbcType="VARCHAR" />
    <result column="category_bg_color1" property="categoryBgColor" jdbcType="VARCHAR" />
        <collection property="categories" ofType="com.xhh.onlineMall.entity.CategoryVO" javaType="java.util.List">
                  <id column="category_id2" property="categoryId" jdbcType="INTEGER" />
                  <result column="category_name2" property="categoryName" jdbcType="VARCHAR" />
                  <result column="category_level2" property="categoryLevel" jdbcType="INTEGER" />
                  <result column="parent_id2" property="parentId" jdbcType="INTEGER" />
                     <collection property="categories" ofType="com.xhh.onlineMall.entity.CategoryVO" javaType="java.util.List">
                       <id column="category_id3" property="categoryId" jdbcType="INTEGER" />
                       <result column="category_name3" property="categoryName" jdbcType="VARCHAR" />
                       <result column="category_level3" property="categoryLevel" jdbcType="INTEGER" />
                       <result column="parent_id3" property="parentId" jdbcType="INTEGER" />
                     </collection>
        </collection>
  </resultMap>

    <resultMap id="categoryVOMap2" type="com.xhh.onlineMall.entity.CategoryVO" >
        <id column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <result column="category_level" property="categoryLevel" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="category_icon" property="categoryIcon" jdbcType="VARCHAR" />
        <result column="category_slogan" property="categorySlogan" jdbcType="VARCHAR" />
        <result column="category_pic" property="categoryPic" jdbcType="VARCHAR" />
        <result column="category_bg_color" property="categoryBgColor" jdbcType="VARCHAR" />
         <collection property="categories" column="category_id" select="selectAllCategories2" ofType="com.xhh.onlineMall.entity.CategoryVO" javaType="java.util.List" />
    </resultMap>

    <resultMap id="categoryVOMap3" type="com.xhh.onlineMall.entity.CategoryVO" >
        <id column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <result column="category_level" property="categoryLevel" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="category_icon" property="categoryIcon" jdbcType="VARCHAR" />
        <result column="category_slogan" property="categorySlogan" jdbcType="VARCHAR" />
        <result column="category_pic" property="categoryPic" jdbcType="VARCHAR" />
        <result column="category_bg_color" property="categoryBgColor" jdbcType="VARCHAR" />
        <collection property="products" column="category_id" select="com.xhh.onlineMall.dao.ProductMapper.selectTop6ByCategory" ofType="com.xhh.onlineMall.entity.CategoryVO" javaType="java.util.List" />
    </resultMap>

    <select id="selectAllCategories" resultMap="categoryVOMap">
        select
            c1.category_id 'category_id1',
            c1.category_name 'category_name1',
            c1.category_level 'category_level1',
            c1.parent_id 'parent_id1',
            c1.category_icon 'category_icon1',
            c1.category_slogan 'category_slogan1',
            c1.category_pic 'category_pic1',
            c1.category_bg_color 'category_bg_color1',
            c2.category_id 'category_id2',
            c2.category_name 'category_name2',
            c2.category_level 'category_level2',
            c2.parent_id 'parent_id2',
            c3.category_id 'category_id3',
            c3.category_name 'category_name3',
            c3.category_level 'category_level3',
            c3.parent_id 'parent_id3'
        from
          category c1
          inner join category c2
              on c2.parent_id=c1.category_id
          left join category c3
              on c3.parent_id=c2.category_id
        where
          c1.category_level='1'

  </select>

    <select id="selectAllCategories2" parameterType="int" resultMap="categoryVOMap2">
        select
            category_id, category_name, category_level, parent_id, category_icon, category_slogan,
            category_pic, category_bg_color
        from
            category
        where
            parent_id=#{parentId}

    </select>


    <select id="selectFirstLevelCategories" resultMap="categoryVOMap3">
        select
            category_id, category_name, category_level, parent_id, category_icon, category_slogan,
            category_pic, category_bg_color
        from
            category
        where
            category_level='1'
    </select>

</mapper>