<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhh.onlineMall.dao.IndexImgMapper" >
  <resultMap id="BaseResultMap" type="com.xhh.onlineMall.entity.IndexImg" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="img_id" property="imgId" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="img_bg_color" property="imgBgColor" jdbcType="VARCHAR" />
    <result column="prod_id" property="prodId" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="index_type" property="indexType" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    img_id, img_url, img_bg_color, prod_id, category_id, index_type, seq, status, create_time, 
    update_time
  </sql>

  <select id="selectIndexImgs" resultMap="BaseResultMap">
    select
      img_id, img_url, img_bg_color, prod_id, category_id, index_type, seq, status, create_time,
      update_time
    from
    index_img
    where
      status='1'
    order by seq
    ASC

  </select>


</mapper>