<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhh.onlineMall.dao.ProductCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.xhh.onlineMall.entity.ProductComments" >
    <id column="comm_id" property="commId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="order_item_id" property="orderItemId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_anonymous" property="isAnonymous" jdbcType="INTEGER" />
    <result column="comm_type" property="commType" jdbcType="INTEGER" />
    <result column="comm_level" property="commLevel" jdbcType="INTEGER" />
    <result column="comm_content" property="commContent" jdbcType="VARCHAR" />
    <result column="comm_imgs" property="commImgs" jdbcType="VARCHAR" />
    <result column="sepc_name" property="sepcName" jdbcType="TIMESTAMP" />
    <result column="reply_status" property="replyStatus" jdbcType="INTEGER" />
    <result column="reply_content" property="replyContent" jdbcType="VARCHAR" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    comm_id, product_id, product_name, order_item_id, user_id, is_anonymous, comm_type, 
    comm_level, comm_content, comm_imgs, sepc_name, reply_status, reply_content, reply_time, 
    is_show
  </sql>

  <resultMap id="ProductCommentsVO" type="com.xhh.onlineMall.entity.ProductCommentsVO" >
    <id column="comm_id" property="commId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="order_item_id" property="orderItemId" jdbcType="VARCHAR" />
    <result column="is_anonymous" property="isAnonymous" jdbcType="INTEGER" />
    <result column="comm_type" property="commType" jdbcType="INTEGER" />
    <result column="comm_level" property="commLevel" jdbcType="INTEGER" />
    <result column="comm_content" property="commContent" jdbcType="VARCHAR" />
    <result column="comm_imgs" property="commImgs" jdbcType="VARCHAR" />
    <result column="sepc_name" property="sepcName" jdbcType="TIMESTAMP" />
    <result column="reply_status" property="replyStatus" jdbcType="INTEGER" />
    <result column="reply_content" property="replyContent" jdbcType="VARCHAR" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />

    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="user_img" jdbcType="VARCHAR" property="userImg" />
  </resultMap>

  <select id="selectCommentsByProductId" resultMap="ProductCommentsVO">
    select
        u.username,u.nickname,u.user_img,
        c.comm_id, c.product_id, c.product_name, c.order_item_id, c.user_id, c.is_anonymous, c.comm_type,
        c.comm_level, c.comm_content, c.comm_imgs, c.sepc_name, c.reply_status, c.reply_content, c.reply_time,
        c.is_show
    from
      product_comments c
    inner join
        users u
    on
        u.user_id=c.user_id
    where
        c.product_id=#{productId}
      limit #{start},#{limit}
  </select>

</mapper>