<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhh.onlineMall.dao.ProductCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.xhh.onlineMall.entity.ProductComments" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="comm_id" property="commId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="order_item_id" property="orderItemId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_anonymous" property="isAnonymous" jdbcType="INTEGER" />
    <result column="comm_type" property="commType" jdbcType="INTEGER" />
    <result column="comm_level" property="commLevel" jdbcType="INTEGER" />
    <result column="comm_content" property="commContent" jdbcType="VARCHAR" />
    <result column="comm_imgs" property="commImgs" jdbcType="VARCHAR" />
    <result column="sepc_name" property="sepcName" jdbcType="TIMESTAMP" />
    <result column="reply_status" property="replyStatus" jdbcType="INTEGER" />
    <result column="reply_content" property="replyContent" jdbcType="VARCHAR" />
    <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbg.generated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    comm_id, product_id, product_name, order_item_id, user_id, is_anonymous, comm_type, 
    comm_level, comm_content, comm_imgs, sepc_name, reply_status, reply_content, reply_time, 
    is_show
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xhh.onlineMall.entity.ProductCommentsExample" >
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xhh.onlineMall.entity.ProductCommentsExample" >
    <!--
      WARNING - @mbg.generated
    -->
    delete from product_comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.xhh.onlineMall.entity.ProductCommentsExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from product_comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update product_comments
    <set >
      <if test="record.commId != null" >
        comm_id = #{record.commId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null" >
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderItemId != null" >
        order_item_id = #{record.orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.isAnonymous != null" >
        is_anonymous = #{record.isAnonymous,jdbcType=INTEGER},
      </if>
      <if test="record.commType != null" >
        comm_type = #{record.commType,jdbcType=INTEGER},
      </if>
      <if test="record.commLevel != null" >
        comm_level = #{record.commLevel,jdbcType=INTEGER},
      </if>
      <if test="record.commContent != null" >
        comm_content = #{record.commContent,jdbcType=VARCHAR},
      </if>
      <if test="record.commImgs != null" >
        comm_imgs = #{record.commImgs,jdbcType=VARCHAR},
      </if>
      <if test="record.sepcName != null" >
        sepc_name = #{record.sepcName,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyStatus != null" >
        reply_status = #{record.replyStatus,jdbcType=INTEGER},
      </if>
      <if test="record.replyContent != null" >
        reply_content = #{record.replyContent,jdbcType=VARCHAR},
      </if>
      <if test="record.replyTime != null" >
        reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isShow != null" >
        is_show = #{record.isShow,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbg.generated
    -->
    update product_comments
    set comm_id = #{record.commId,jdbcType=VARCHAR},
      product_id = #{record.productId,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      order_item_id = #{record.orderItemId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      is_anonymous = #{record.isAnonymous,jdbcType=INTEGER},
      comm_type = #{record.commType,jdbcType=INTEGER},
      comm_level = #{record.commLevel,jdbcType=INTEGER},
      comm_content = #{record.commContent,jdbcType=VARCHAR},
      comm_imgs = #{record.commImgs,jdbcType=VARCHAR},
      sepc_name = #{record.sepcName,jdbcType=TIMESTAMP},
      reply_status = #{record.replyStatus,jdbcType=INTEGER},
      reply_content = #{record.replyContent,jdbcType=VARCHAR},
      reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      is_show = #{record.isShow,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>