<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhh.onlineMall.dao.UserLoginHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.xhh.onlineMall.entity.UserLoginHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="LOGIN_TIME" property="loginTime" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, AREA, COUNTRY, USER_ID, IP, LOGIN_TIME
  </sql>

</mapper>